html {
	background: #23272a;
}

header{
	width: 100%;
	height: auto;
	background-image:url(photo/2.jpg);
	background-repeat:no-repeat;
	background-size: 100% 99%;
	animation:animback 80s linear infinite;	
}

@keyframes animback 
{
    0% {
	background-image:url(photo/3.jpg);
	background-repeat:no-repeat;
	background-size: 100% 99%;
	}
    15% {
	background-image:url(photo/4.jpg);
	background-repeat:no-repeat;
	background-size: 100% 99%;
	}
    30% {
	background-image:url(photo/5.jpg);
	background-repeat:no-repeat;
	background-size: 100% 99%;
	}
    45% {
	background-image:url(photo/6.jpg);
	background-repeat:no-repeat;
	background-size: 100% 99%;
	}
    60% {
	background-image:url(photo/7.jpg);
	background-repeat:no-repeat;
	background-size: 100% 99%;
	}
    75% {
	background-image:url(photo/8.jpg);
	background-repeat:no-repeat;
	background-size: 100% 99%;
	}
    90% {
	background-image:url(photo/9.jpg);
	background-repeat:no-repeat;
	background-size: 100% 99%;
	}
}

.entetecentre{
    width: 100%;
    float: center;
	text-align: center;
    position: relative;
}



body {
	background: #2c2f33 ;
    position: relative;
	font-family: sans-serif;
	color:  #e4e4e4 ;
	width: 70%;
	margin: 0 0 0 180px ; /* Pour centrer notre page */
	margin-top: 0px; /* Pour éviter de coller avec le haut de la fenêtre du navigateur. Essayez d'enlever pour voir ! */
	margin-bottom: 0px;    /* Idem pour le bas du navigateur */
	padding: 1%;
}

footer{
	position: fixed;
    right: 10px;	
	bottom: 0;
	text-align: right;
}

nav {
    color: #99aab5;/* couleur du texte */
    position: fixed;
    text-decoration: none; /* pas d'héritage avec effet souligné */
    float: left; /* effet flottant */
    top: -22px;
    line-height: 25px; /* interligne */
    padding: 1em 1.5em; /* marges intérieur */
    font-family: sans-serif; /* police d'écriture */
    font-size: 13px; /* taille du texte */
	font-weight: bold;
    left: -55px;
}

nav ul li {
	background: #2c2f33 ;
    float: left;
    position: relative;
	list-style-type: none;
}

nav a {
    display: block;
    text-decoration: none;
    text-align: left;
    color: #99aab5;
    padding: 0px 5px 0px 10px ;
}

nav a:hover {
    color: #ee0000 ;
    border-bottom: 1px solid #ee0000;
}

.sous {
    display: none;
    position: fixed;
}

nav > ul li:hover .sous {
    display: block;
}

.sous li {
    float: none;
    text-align: left;
}

.sous a:hover {
    border-bottom: none;
}

.deroulant > a::after {
    content: "";
    font-size: 25px;
}


.buttondiscord {
	background-color: #2c2f33;
    color: #99aab5;
    padding: 1em 1.5em;
    position: fixed;
    text-decoration: none;
    display: inline-block;
    left: 64px;
    bottom: 10px;
	font-family: sans-serif;
	font-size: 13px;
	font-weight: bold;
}

.buttondiscord :hover {
    color: #7289da ;
    border-bottom: 1px solid #7289da;
}

.buttoncontact {
	background-color: #2c2f33;
    color: #99aab5;
    padding: 1em 1.5em;
    position: fixed;
    text-decoration: none;
    display: inline-block;
    left: 05px;
    bottom: 10px;
	font-family: sans-serif;
	font-size: 13px;
	font-weight: bold;
}

.buttoncontact :hover {
    color: #ee0000 ;
    border-bottom: 1px solid #ee0000;
}

.buttonretourhaut {
	background-color: #2c2f33;
    color: #99aab5;
    padding: 1em 1.5em;
    position: fixed;
    text-decoration: none;
    display: inline-block;
    left: 122px;
    bottom: 10px;
	font-family: sans-serif;
	font-weight: bold;
}

.buttonretourhaut :hover {
    color: #ee0000 ;
    border-bottom: 1px solid #ee0000;
}

.twitter {
	width: 17%;
	opacity: 70%;
    position: fixed;
    right: 16px;
    top: 5px;
}

h3{
line-height: 0px;
}